<div class="clearfix">
  <h3>客户检索</h3>
      <form  role="form">
        <div class="form-group">
          <div class="col-md-3">
            <input type="text" class="form-control" id="customerinfo" ng-model="keyword" placeholder="请输入用户名/手机号/企业名称">
          </div>
        </div>
        <button type="submit" class="btn btn-default" ng-click="searchCustomer()">搜索</button>
      </form>
  <div class="clearfix">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>交易总量(瓶)</th>
        <th>商城采购量(瓶)</th>
        <th>撮合采购量(瓶)</th>
        <th>总发布需求量</th>
        <th>需求总匹配瓶数</th>
        <th>总发布供应量</th>
        <th>供应总匹配瓶数</th>
        <th>总报价个数</th>
        <th>有效报价个数</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>{{customer.demandMatchCount+customer.shopOrderCount+customer.unShopOrderCount}}</td>
        <td>{{customer.shopOrderCount}}</td>
        <td>{{customer.unShopOrderCount}}</td>
        <td>{{customer.releaseDemandCount}}</td>
        <td>{{customer.demandMatchCount}}</td>
        <td>{{customer.supplyCount}}</td>
        <td>{{customer.matchSupplyCount}}</td>
        <td>{{customer.quoteCount}}</td>
        <td>{{customer.validQuoteCount}}</td>
      </tr>
      <tr ng-show="customer == false"><td colspan='10' style=' font-size: 16px;text-align: center; color:red;'>没有搜索到您想要的客户信息。</td></tr>
      </tbody>
    </table>
  </div>

</div>




