<div class="clearfix">
  <h2>添加角色</h2>
  <label id="info" style="margin-left: 20%;"></label>
</div>
<br>
<div class="box">
  <form class="form-inline">
    <button type="submit" style="margin-left:3%;" class="btn btn-default" ng-click="addRole()">添加角色</button>
  </form>
</div>
<table class="table table-hover">
  <thead>
  <tr>
    <th>序号</th>
    <th>角色名称</th>
    <th>角色编码</th>
    <th>操作</th>
  </tr>
  </thead>
  <tfoot>
  <tr>
    <td colspan="10" style="text-align:right">
      <pagination total-items="totalCount" ng-model="pageNum" ng-change="pageTo()" max-size="20" boundary-links="true"></pagination>
    </td>
  </tr>
  </tfoot>
  <tbody>
  <tr ng-repeat="item in rolelist">
    <td>{{$index+1}}</td>
    <td>{{item.rolename}}</td>
    <td>{{item.rolecode}}</td>
    <td>
      <a href="javascript:void(0);"  ng-click="updateRoleForm(item.id)">修改</a>&nbsp;&nbsp;
      <a href="javascript:void(0);"  ng-click="deleteRole(item.id)">删除</a>&nbsp;&nbsp;
      <a href="javascript:void(0);"  ng-click="configMenuAuth(item.id)">配置菜单及权限</a>&nbsp;&nbsp;
      </td>
  </tr>
  <tr ng-show="totalCount== 0"><td colspan='9' style=' font-size: 18px;text-align: center; color:red;'>没有搜索到您想要的信息。</td></tr>
  </tbody>
</table>

<!--删除 -->
<input type="hidden" id="roleId">
<div class="modal fade" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false"  id="deleteRoleConfirmDialog" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="false">
          &times;
        </button>
        <h4 class="modal-title">
          删除确认
        </h4>
      </div>
      <div class="modal-body">
        您确定要删除此条数据吗?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="deleteRoleClick()">
          确认
        </button>
        <button type="button" class="btn btn-default" data-dismiss="modal">
          取消
        </button>
      </div>
    </div>
  </div>
</div>

<!-- 添加数据-->
<div class="modal fade" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false" id="addRoleDialog">
  <div class="modal-dialog">
    <div class="modal-content" style="width:650px;height:300px;">
      <div class="modal-header">
        <button type="button"  class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">添加角色</h4>
      </div>

      <form class="form-horizontal" id="roleAddForm" action="" style="margin-top:30px;">
        <div class="form-group">
          <label class="col-xs-4 col-md-4 control-label"><span class="required">*</span>角色名称:</label>
          <div class="col-xs-4 col-md-4">
            <input class="form-control" maxlength="50" style="width:180px;" type="text" placeholder="请输入角色名称" id="rolename" name="rolename" ng-model="role.rolename" >
          </div>
        </div>

        <div class="form-group">
          <label class="col-xs-4 col-md-4 control-label"><span class="required">*</span>角色编码:</label>
          <div class="col-xs-4 col-md-4">
            <input class="form-control" maxlength="50" style="width:180px;" type="text"  placeholder="请输入角色编码" id="rolecode" name="rolecode" ng-model="role.rolecode">
          </div>
        </div>

        <div class="col-xs-12 col-md-12" style="top:10px;">
          <button type="button" class="col-xs-3 btn btn-primary col-md-offset-2 col-md-4" ng-click="addRoleClick()">
            添加
          </button>
          <button type="button" class="col-xs-offset-2 btn btn-default col-md-offset-2" data-dismiss="modal">
            取消
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- 修改数据-->
<div class="modal fade" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false" id="updateRoleDialog">
  <div class="modal-dialog">
    <div class="modal-content" style="width:650px;height:300px;">
      <div class="modal-header">
        <button type="button"  class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">修改角色</h4>
      </div>

      <form class="form-horizontal" id="updateRoleForm" action="" style="margin-top:30px;">
        <div class="form-group">
          <label class="col-xs-4 col-md-4 control-label"><span class="required">*</span>角色名称:</label>
          <div class="col-xs-4 col-md-4">
            <input class="form-control" maxlength="50" style="width:180px;" type="text"  name="rolename" ng-model="updateRole.rolename" >
          </div>
        </div>

        <div class="form-group">
          <label class="col-xs-4 col-md-4 control-label"><span class="required">*</span>角色编码:</label>
          <div class="col-xs-4 col-md-4">
            <input class="form-control" maxlength="50" style="width:180px;" type="text"  name="rolecode" ng-model="updateRole.rolecode">
          </div>
        </div>

        <div class="col-xs-12 col-md-12" style="top:10px;">
          <button type="button" class="col-xs-3 btn btn-primary col-md-offset-2 col-md-4" ng-click="updateRoleClick()">
            修改
          </button>
          <button type="button" class="col-xs-offset-2 btn btn-default col-md-offset-2" data-dismiss="modal">
            取消
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
