<style type="text/css">
  .div-margin{
    margin-bottom: 2%;
  }
  .attr-color{
    color:#317ee6;
  }
  div img,div input{ vertical-align:middle}
</style>
<div style="margin-top: 1%;">
  <div class="col-xs-6 col-md-6 div-margin">
    <label class="col-xs-4 col-md-4 control-label">买家公司:</label>
    <label class="col-xs-8 col-md-8 control-label attr-color">{{groupBuyQualification.companyname}}</label>
  </div>
  <div class="col-xs-6 col-md-6 div-margin">
    <label class="col-xs-4 col-md-4 control-label">资格审核状态:</label>
    <label class="col-xs-8 col-md-8 control-label attr-color" ng-show="groupBuyQualification.status == 'QUALIFY_APPLY'">待审核</label>
    <label class="col-xs-8 col-md-8 control-label attr-color" ng-show="groupBuyQualification.status == 'QUALIFY_ACTIVE'">审核通过</label>
    <label class="col-xs-8 col-md-8 control-label attr-color" ng-show="groupBuyQualification.status == 'QUALIFY_INPROCESS'">审核通过</label>
    <label class="col-xs-8 col-md-8 control-label attr-color" ng-show="groupBuyQualification.status == 'QUALIFY_NOT_ENOUGH'">审核未通过</label>
  </div>
</div>
<div>
  <div class="col-xs-6 col-md-6 div-margin">
    <label class="col-xs-4 col-md-4 control-label">联系电话:</label>
    <label class="col-xs-8 col-md-8 control-label attr-color">{{groupBuyQualification.userphone}}</label>
  </div>
</div>

    <div>
      <div class="col-xs-12 col-md-12 div-margin">
        <label class="col-xs-1 col-md-1 control-label">支付凭证:</label>
        <div class="col-xs-11 col-md-11 control-label">
          <img ng-src="{{groupBuyQualification.photopath}}"  width="300px;" height="300px;" ng-model="photopath"/>
        </div>
      </div>
    </div>

  <div ng-show="groupBuyQualification.status == 'QUALIFY_APPLY'">
    <div class="col-xs-12 col-md-12 div-margin">
      <label class="col-xs-2 col-md-2 control-label">支付凭证:&nbsp;&nbsp;审核确认有:</label>
      <input type="text" id="inputPayed" ng-blur="checkInput()">&nbsp;&nbsp;&nbsp;元
      <span id="inputPayedError"></span>
    </div>
  </div>

<div>
  <div class="col-xs-6 col-md-6 div-margin">
    <label class="col-xs-4 col-md-4 control-label">保证金:</label>
    <label class="col-xs-8 col-md-8 control-label attr-color">100000&nbsp;元</label>
  </div>
  <div class="col-xs-6 col-md-6 div-margin">
    <label class="col-xs-4 col-md-4 control-label">已付款:</label>
    <label class="col-xs-8 col-md-8 control-label attr-color" ng-show="groupBuyQualification.margins == 0"><span id="payed">0</span><span>&nbsp;元</span></label>
    <label class="col-xs-8 col-md-8 control-label attr-color" ng-show="groupBuyQualification.margins != 0">{{groupBuyQualification.margins}}<span>&nbsp;元</span></label>
  </div>
</div>

<div ng-show="groupBuyQualification.status == 'QUALIFY_APPLY'">
  <div class="col-xs-12 col-md-12 div-margin">
    <label class="col-xs-2 col-md-2 control-label">审核结果:</label>
    <label class="col-xs-2 col-md-2 control-label attr-color"><span id="result"></span></label>
  </div>
</div>

  <div class="col-xs-12 col-md-12">
    <div class="col-xs-6 col-md-6 div-margin">
      <label class="col-xs-4 col-md-4 control-label">备注:</label>
      <textarea ng-show="groupBuyQualification.comment == null" class="form-control" rows="3" style="background: #fafafa;" placeholder="审核未通过时，请填写不通过具体原因" id="comment" cols="50"></textarea>
      <span ng-show="groupBuyQualification.comment != null">{{groupBuyQualification.comment}}</span>
    </div>
  </div>
  <div class="col-xs-4 col-md-4 col-md-offset-1 div-margin">
    <span id="errorInfo"></span>
  </div>
  <div>
    <div class="col-xs-4 col-md-offset-2 col-md-4">
      <div class="col-xs-6 col-md-6">
        <input type="hidden" id="qualificationcode">
        <button ng-click="submitPayment(groupBuyQualification.qualificationcode,groupBuyQualification.status)" class="btn btn-primary btn-block" id="groupbuy-certificate-wait-check">确定</button>
      </div>
    </div>
</div>

