<style type="text/css">
  .div-margin{
    margin-bottom: 2%;
  }
  .attr-color{
    color:#317ee6;
  }

</style>
<div id="body-head">
  <div style="border-left:4px solid red;"><h5>&nbsp;&nbsp;请仔细核对以下信息</h5></div>
  <hr>
</div>
<div>
  <div class="col-md-12 div-margin">
    <label class="col-md-1 control-label">团购编号:</label>
    <label class="col-md-11 control-label attr-color">{{groupbuy.groupbuysupplycode}}</label>
  </div>
</div>

<div>
  <div class="col-md-4 div-margin">
    <label class="col-md-4 control-label">酒类:</label>
    <label class="col-md-8 control-label attr-color">{{groupbuy.coaltype}}</label>
  </div>
  <div class="col-md-4 div-margin">
    <label class="col-md-4 control-label">酒精度数:</label>
    <label class="col-md-8 control-label attr-color">{{groupbuy.NCV}}kcal/kg</label>
  </div>
  <div class="col-md-4 div-margin">
    <label class="col-md-4 control-label">酒类指标1:</label>
    <label class="col-md-8 control-label attr-color" ng-show="groupbuy.ADS!= null">{{groupbuy.ADS}}%</label>
    <label class="col-md-8 control-label attr-color" ng-show="groupbuy.ADS == null">--</label>
  </div>
</div>

<div>
  <div class="col-md-4 div-margin">
    <label class="col-md-4 control-label">含糖量:</label>
    <label class="col-md-8 control-label attr-color">{{groupbuy.RS}}%</label>
  </div>
  <div class="col-md-4 div-margin">
    <label class="col-md-4 control-label">酒类指标4:</label>
    <label class="col-md-8 control-label attr-color">{{groupbuy.TM}}%</label>
  </div>
  <div class="col-md-4 div-margin">
    <label class="col-md-4 control-label">酒类指标5:</label>
    <label class="col-md-8 control-label attr-color" ng-show="groupbuy.IM != null">{{groupbuy.IM}}%</label>
    <label class="col-md-8 control-label attr-color" ng-show="groupbuy.IM == null">--</label>
  </div>

</div>

<div>
  <div class="col-md-4 div-margin">
    <label class="col-md-5 control-label">酒类指标2:</label>
    <label class="col-md-7 control-label attr-color">{{groupbuy.ADV}}%</label>
  </div>
  <div class="col-md-4 div-margin">
    <label class="col-md-5 control-label">酒类指标3:</label>
    <label class="col-md-7 control-label attr-color" ng-show="groupbuy.RV != null">{{groupbuy.RV}}%</label>
    <label class="col-md-7 control-label attr-color" ng-show="groupbuy.RV == null">--</label>
  </div>
  <div class="col-md-4 div-margin">
    <label class="col-md-4 control-label">酒类指标7:</label>
    <label class="col-md-8 control-label attr-color" ng-show="groupbuy.AFT != null">{{groupbuy.AFT}}℃</label>
    <label class="col-md-8 control-label attr-color" ng-show="groupbuy.AFT == null">--</label>
  </div>
</div>

<div>
  <div class="col-md-4 div-margin">
    <label class="col-md-4 control-label" >酒类指标6:</label>
    <label class="col-md-8 control-label attr-color" ng-show="groupbuy.ASH != null">{{groupbuy.ASH}}%</label>
    <label class="col-md-8 control-label attr-color" ng-show="groupbuy.ASH == null">--</label>
  </div>
  <div class="col-md-4 div-margin">
    <label class="col-md-4 control-label" >酒类指标8:</label>
    <label class="col-md-8 control-label attr-color" ng-show="groupbuy.HGI != null">{{groupbuy.HGI}}%</label>
    <label class="col-md-8 control-label attr-color" ng-show="groupbuy.HGI == null">--</label>
  </div>
  <div class="col-md-4 div-margin">
    <label class="col-md-4 control-label">交货地点:</label>
    <label class="col-md-8 control-label attr-color">{{groupbuy.deliveryprovince}}{{groupbuy.port}}</label>
  </div>
</div>

<div>
  <div class="col-md-4 div-margin">
    <label class="col-md-4 control-label">交货方式:</label>
    <label class="col-md-8 control-label attr-color">{{groupbuy.deliverymode}}</label>
  </div>
  <div class="col-md-4 div-margin">
    <label class="col-md-4 control-label">供应数量:</label>
    <label class="col-md-8 control-label attr-color">{{groupbuy.supplyamount}}</label>
  </div>
  <div class="col-md-4 div-margin">
    <label class="col-md-4 control-label">堆位:</label>
    <label class="col-md-8 control-label attr-color">{{groupbuy.storageplace}}</label>
  </div>
</div>

<div>
  <div class="col-md-4 div-margin">
    <label class="col-md-4 control-label">检测机构:</label>
    <label class="control-label attr-color">{{groupbuy.inspectionagency}}</label>
  </div>
  <div class="col-md-4 div-margin">
    <label class="col-md-4 control-label">交货时间:</label>
    <label class="control-label attr-color">{{groupbuy.deliverydatestart}}--{{groupbuy.deliverydateend}}</label>
  </div>
  <div class="col-md-4 div-margin">
    <label class="col-md-4 control-label">团购价:</label>
    <label class="col-md-8 control-label attr-color">{{groupbuy.groupbuyprice}}</label>
  </div>
</div>

<div>
  <div class="col-md-4 div-margin">
    <label class="col-md-4 control-label">团购时间:</label>
    <label class="col-md-8 control-label attr-color">{{groupbuy.groupbuybegindate}}--{{groupbuy.groupbuyenddate}}</label>
  </div>
  <div class="col-md-4 div-margin">
    <label class="col-md-4 control-label">市场价:</label>
    <label class="col-md-8 control-label attr-color">{{groupbuy.marketprice}}元/瓶</label>
  </div>
  <div class="col-md-4 div-margin">
    <label class="col-md-4 control-label">起订量:</label>
    <label class="col-md-8 control-label attr-color">{{groupbuy.minimumamount}}</label>
  </div>
</div>

<div>
  <div class="col-md-4 div-margin">
    <label class="col-md-4 control-label">已购量:</label>
    <label class="col-md-8 control-label attr-color">{{groupbuy.selledamount}}</label>
  </div>
  <div class="col-md-8 div-margin">
    <label class="col-md-2 control-label">团购规则:</label>
    <label class="col-md-10 control-label attr-color">{{groupbuy.comment}}</label>
  </div>
</div>

<div style="margin-left:600px;margin-top:50px;">
  <div class="col-md-4 div-margin">
    <input type="button" ng-click="confirmRelease()" class="btn btn-primary btn-block" value="确认发布">
  </div>
  <div class="col-md-2 div-margin">
    <input type="button" ng-click="change()" class="btn btn-primary btn-block" value="更改">
  </div>
</div>


